.myDiv {
  border: 1px outset black;
  background-color: white;    
  text-align: center;
  width: 13em;
}

.myDiv2 {
  border: 0px;
  background-color: white;    
  text-align: center;
  width: 18em;
}

.lineskip-two {
  margin-bottom: 2em;
}

.lineskip-three {
  margin-bottom: 3em;
}

div.settings {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-gap: 0.75em;
}

div.button {
  align-content: center;
}

.button-style {
  height: 2em;
  width: 8em;
  align-content: center;
}

div.settings label {
  text-align:right;
}

div.settings label:after {
  content: ":";
}